.wptp-block-inner {
    padding: 10px;
}
.wptp-block-inner .wptp-header .form-field {
    position: relative;
}
.wptp-block-inner .wptp-header .dashicons {
    cursor: pointer;
    margin-right: 5px;
}
.wptp-block-inner .wptp-header .dashicons.dashicons-menu {
    cursor: move;
}
.wptp-block-inner .wptp-header .dashicons:last-child {
    margin-right: 0;
}
.wptp-block-inner .wptp-header .wptp-actions {
    position: absolute;
    top: 8px;
    right: 0;
}
.wptp-block-inner .wptp-header .wptp-actions .wptp-delete-block {
    color: red;
}

.wptp-settings-container .wptp-settings-content {
    padding-top: 2%;
}
.wptp-settings-content label {
    font-weight: bold;
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
}

.wptp-settings-content .info {
    float: left;
    margin-top: -6px;
    padding-right: 3px;
}

.wptp-settings-content #product_tab_type_div {
    display: inline-block;
    float: left;
    padding-bottom: 2%;
}

.wptp-settings-content input {

}

.wptp-settings-content .info {
    font-style: italic;
    font-size: 14px;
}

.wptp-settings-content .select2-container {
    margin-top: 1%;
}

#if-show-for-duration {
    padding-top: 1%;
    padding-left: 2%;
}

#wptp_submit_btn {
    margin-top: 14%;
}